@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url('./Gotham-Book.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url('./Gotham-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url('./Gotham-Medium.woff2') format('woff2');
  font-weight: 500;
}
